<p>hello {{name}}!</p>
<input type="text" placeholder="enter your name" #inputYourName>
<button (click)="setName(inputYourName.value); inputYourName.value = ''">submit</button>
<br />
<br />
<div style="height: 24px">
  <!-- if -->
  <p *ngIf="isShow">Can you see this?</p>
</div>
<div style="height: 24px">
    <!-- if-else -->
    <p *ngIf="isShow; then thenBlock else elseBlock"></p>
    <ng-template #thenBlock>Truthy</ng-template>
    <ng-template #elseBlock>Falsy</ng-template>
</div>
<button (click)="isShow=!isShow">{{isShow? 'hide':'show'}}</button>
<br />
<br />
<!-- For -->
<ul>
  <li *ngFor="let item of items">{{item.index + " : " + item.value}}</li>
</ul>
<br />
<!-- Switch -->
<div [ngSwitch]="cardCase" style="height: 24px">
  <p *ngSwitchCase=0>Button A Clicked</p>
  <p *ngSwitchCase=1>Button B Clicked</p>
  <p *ngSwitchCase=2>Button C Clicked</p>
  <p *ngSwitchCase=3>Button D Clicked</p>
</div>
<button (click)="setCardCase(0)">A</button>
<button (click)="setCardCase(1)">B</button>
<button (click)="setCardCase(2)">C</button>
<button (click)="setCardCase(3)">D</button>